<div id="bannergraphic"><img src="/System/_images/SampleHeader.gif" alt="Long Service Awards" title="Long Service Awards" border="0" /></div>

<script type="text/javascript">
	var so = new SWFObject("/CorporateProjects/LongServiceAwards/Flash/LongService2010.swf", "Long Service Awards 2009", "450", "65", "8.0.0", "#ffffff", false);
	so.addParam("wmode", "transparent");
	so.write("bannergraphic");
</script>






<!--<img src="/System/_images/SampleHeader.gif" alt="Call Centre" title="Long Service Awards" border="0" />-->

