
<div id="GNGNBanner">
  <div><img src="/CorporateProjects/GoodNeighboursGreatNeighbourhoods/flash/Static_Banner.jpg" alt="Good Neighbours Great Neighbourhoods" width="350" height="65" title="Good Neighbours Great Neighbourhoods" border="0" /></div>
</div>
<div align="center">
  <script type="text/javascript">
	var so = new SWFObject("/CorporateProjects/GoodNeighboursGreatNeighbourhoods/flash/GNGN_final_banner.swf", "Good Neighbours Great Neighbourhoods", "350", "65", "6.0.65", "#ffffff");
	so.addParam("wmode", "transparent");
	so.write("GNGNBanner");
                         </script>
</div>

<!--
<a href="/CorporateProjects/GoodNeighboursGreatNeighbourhoods/"><img src="/CorporateProjects/GoodNeighboursGreatNeighbourhoods/flash/Static_Banner.jpg" alt="Good Neighbours Great Neighbourhoods" border="0" /></a>
-->