<div id="bannergraphic"><img src="/CorporateProjects/Diversity/Images/DiversityStatic.jpg" alt="Diversity in HRM" width="450px" height="65px;" title="Diversity in HRM" border="0" /></div>

<script type="text/javascript">
	var so = new SWFObject("/CorporateProjects/Diversity/Images/DiversityBanner.swf", "Corporate Communications", "450", "65", "8.0.0", "#ffffff", false);
	so.addParam("wmode", "transparent");
	so.write("bannergraphic");
</script>
