<p>	<a href="Detailedorg.html">Organizational Structure </a>|  
	<a href="Objectives.html">Objectives</a>  |  
	<a href="Updates.html">Updates</a>  | 
	<a href="SelectedVendor.html">Vendor</a> | 
	<a href="links.html">Links </a></p>